html, body {
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    text-align: justify;
    background: #F6F7F9;
}

iframe[src*="youtube"] {
    width: 100%;
    height: 400px;
    margin: 20px 0;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

a {
    color: #444;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #555;
}

h1 {
    padding-top: 0;
}

h1 small {
    font-size: 14pt;
}

pre {
    margin: 10px 40px;
}

.footnotes::before {
    content: "References:";
}

.footnotes {
    color: #444;
    font-size: 8pt;
    margin-top: 50px;
}

.footnotes a {
    color: #444;
}

blockquote {
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 0;
    border-left: 4px #aaa solid;
}

.sidebar {
    padding-top: 20px;
}

.sidebar, .sidebar a {
    color: #444;
}

.sidebar a {
    text-decoration: underline;
}

.sidebar h3 {
    margin-top: 40px;
}

.sidebar h4, h5 {
    margin: 5px 0;
}

code {
    color: #000;
}
