---
---

.editor {
    height: 400px;
    margin-bottom: 10px;
    border: 1px solid #666;
    width: 100%;
}

.demo {
    position: relative;

    .editor {
        width: 60%;
        position: relative;
        z-index: 9999;
        background: white;
    }

    .calculator-wrapper {
        position: absolute;
        right: 0;
        top: 0;

        .calculator {
            background: url('http://try.knightos.org/static/skin.png') no-repeat;
            background-size: 400px;
            width: 400px;
            height: 266px;
            margin: 0 auto;
            position: relative;
            left: 40px;

            canvas {
                position: absolute;
                left: 75px;
                top: 80px;
                width: 250px;
            }
        }
    }

    textarea {
        width: 308px;
        float: right;
        margin-top: 8px;
    }
}

.run-button {
    position: absolute;
    width: 100px;
    top: 5px;
    right: 15px;
    z-index: 9999;
}
