<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <script src="http://underscorejs.org/underscore-min.js"></script>
    </head>
    <body>
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>
