---
layout: base
showTitle: true
---

<div class="row">
    <div class="col-md-9">
        <h1>
            {{ page.title }}
        </h1>
        <link rel="stylesheet" type="text/css" href="/css/toolchain.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <hr />
        {{ content }}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        var disqus_shortname = 'drewdevaultblog';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <script data-main="/js/toolchain.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-37292778-1");
              pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </div>
    <div class="col-md-3 sidebar text-left">
        <p>
            {% if page.date %}Published {{ page.date | date_to_string }}{% endif %}
        </p>
        <p>
            for <a href="/">Drew DeVault's blog</a>
        </p>
        <h3>Other Recent Posts</h3>
        {% for post in site.posts limit: 3 %}
            <div class="post-stub">
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h5>
                <h5>{{ post.date | date_to_string }}</h5>
            </div>
        {% endfor %}
        <h3>My Work</h3>
        <p>
            Lots of open source projects &mdash;
            <a href="https://github.com/SirCmpwn">Github</a>.
            <br />
            A few interesting ones:
        </p>
        <div class="post-stub">
            <h4><a href="http://www.knightos.org">KnightOS</a></h4>
            <h5>Operating system for calculators</h5>
        </div>
        <div class="post-stub">
            <h4><a href="https://github.com/SirCmpwn/RedditSharp">RedditSharp</a></h4>
            <h5>.NET library for talking to Reddit</h5>
        </div>
        <div class="post-stub">
            <h4><a href="http://www.kerbalstuff.com">Kerbal Stuff</a></h4>
            <h5>Hosts Kerbal Space Program mods</h5>
        </div>
        <div class="post-stub">
            <h4><a href="https://github.com/SirCmpwn/TrueCraft">TrueCraft</a></h4>
            <h5>Open source Minecraft server</h5>
        </div>
        <div class="post-stub">
            <h4><a href="https://github.com/SirCmpwn/ChatSharp">ChatSharp</a></h4>
            <h5>.NET IRC client library</h5>
        </div>
        <div class="post-stub">
            <h4><a href="https://github.com/SirCmpwn/hooks">Hooks</a></h4>
            <h5>Receives and acts on Github hooks</h5>
        </div>
        <h3>Support My Work</h3>
        <p>Contribute to my open source projects</p>
        <p>Share my work with your friends</p>
        <p>Support me on <a href="https://gratipay.com/SirCmpwn">Gratipay</a></p>
        <h3>License</h3>
        <p>This site and all its contents are <a href="http://opensource.org/licenses/MIT">MIT licensed</a>.</p>
        <div class="spacer" style="margin-top: 50px;"></div>
    </div>
</div>
